<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes</title>
</head>

<body>
    <h1> Heroes </h1>
    <a href="/babbage"><img title="babbage" src="/img/babbage.jpg" alt="Babbage"></a>
    <a href="/berners-lee"><img title="berners-lee" src="/img/berners-lee.jpg" alt="Berners-lee"></a>
    <a href="/clarke"><img title="clarke" src="/img/clarke.jpg" alt="Clarke"></a>
    <a href="/hamilton"><img title="hamilton" src="/img/hamilton.jpg" alt="Hamilton"></a>
    <a href="/hopper"><img title="hopper" src="/img/hopper.jpg" alt="Hopper"></a>
    <a href="/lovelace"><img title="lovelace" src="/img/lovelace.jpg" alt="Lovelace"></a>
    <a href="/turing"><img title="turing" src="/img/turing.webp" alt="Turing"></a>
</body>

</html>